name: tests

on:
  push:

jobs:
  flake8-pytest:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7]
        poetry-version: [1.1.2]
        os: [ubuntu-18.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: install packages
        run: |
          poetry install  # --no-dev
          python3 -m pip install pip -U
          # pip install nonebot2 -U  # fetch post1 git+https
          pip install git+https://github.com/nonebot/nonebot2.git
          pip show nonebot2
      - name: Run pytest
        run: |
          poetry run flake8
          poetry run pytest tests
